<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
</head>
<body>
    <form action="/surveys/process" method="POST">
        {% csrf_token %}
        Your Name: <input type="text" name="name"><br>
        Dojo Location: <select name="location">
            <option value="seattle">Seattle</option>
            <option value="sf">SF</option>
            <option value="tulsa">Tusla</option>
            <option value="burbank">Burbank</option>
        </select><br>
        Favorite Language: <select name="language">
            <option value="javascript">Javascript</option>
            <option value="c#">C#</option>
            <option value="java">Java</option>
            <option value="python">Python</option>
        </select><br>
        Comment (optional):<br> <textarea name="comment" cols="30" rows="10"></textarea><br>
        <input type="submit" value="Submit!">
    </form>
</body>
</html>