<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
</head>

<body>
    <h1>Dashboard</h1>
    <table>
        <tr>
            <th>id</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>User Level</th>
            <th>Actions</th>
        </tr>
        {% for i in user %}
        <tr>
            <td>{{i.id}}</td>
            <td><a href="/users/{{i.id}}">{{i.first_name}} {{i.last_name}}</a></td>
            <td>{{i.email}}</td>
            <td>{{i.created_at}}</td>
            <td>{{i.user_level}}</td>
            <td>
                <!-- <a href="/users/{{i.id}}">Show</a> -->
                <a href="/users/{{i.id}}/edit">Edit</a>
                <a href="/users/{{i.id}}/destroy">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/users/new">Add a new user!</a><br><br><br>
    <a href="/logout">Logout</a>
</body>

</html>